html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #42c920;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

.wrapper {
  position: fixed;
  width: "100vw";
  left: 0;
  top: 0;
}

#title span {
  background: -webkit-linear-gradient(#42c920, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #42c920, 324px 42px #42c920, 303px 586px #42c920,
    1312px 276px #42c920, 451px 625px #42c920, 521px 1931px #42c920, 1087px 1871px #42c920,
    36px 1546px #42c920, 132px 934px #42c920, 1698px 901px #42c920, 1418px 664px #42c920,
    1448px 1157px #42c920, 1084px 232px #42c920, 347px 1776px #42c920, 1722px 243px #42c920,
    1629px 835px #42c920, 479px 969px #42c920, 1231px 960px #42c920, 586px 384px #42c920,
    164px 527px #42c920, 8px 646px #42c920, 1150px 1126px #42c920, 665px 1357px #42c920,
    1556px 1982px #42c920, 1260px 1961px #42c920, 1675px 1741px #42c920,
    1843px 1514px #42c920, 718px 1628px #42c920, 242px 1343px #42c920, 1497px 1880px #42c920,
    1364px 230px #42c920, 1739px 1302px #42c920, 636px 959px #42c920, 304px 686px #42c920,
    614px 751px #42c920, 1935px 816px #42c920, 1428px 60px #42c920, 355px 335px #42c920,
    1594px 158px #42c920, 90px 60px #42c920, 1553px 162px #42c920, 1239px 1825px #42c920,
    1945px 587px #42c920, 749px 1785px #42c920, 1987px 1172px #42c920, 1301px 1237px #42c920,
    1039px 342px #42c920, 1585px 1481px #42c920, 995px 1048px #42c920, 524px 932px #42c920,
    214px 413px #42c920, 1701px 1300px #42c920, 1037px 1613px #42c920, 1871px 996px #42c920,
    1360px 1635px #42c920, 1110px 1313px #42c920, 412px 1783px #42c920, 1949px 177px #42c920,
    903px 1854px #42c920, 700px 1936px #42c920, 378px 125px #42c920, 308px 834px #42c920,
    1118px 962px #42c920, 1350px 1929px #42c920, 781px 1811px #42c920, 561px 137px #42c920,
    757px 1148px #42c920, 1670px 1979px #42c920, 343px 739px #42c920, 945px 795px #42c920,
    576px 1903px #42c920, 1078px 1436px #42c920, 1583px 450px #42c920, 1366px 474px #42c920,
    297px 1873px #42c920, 192px 162px #42c920, 1624px 1633px #42c920, 59px 453px #42c920,
    82px 1872px #42c920, 1933px 498px #42c920, 1966px 1974px #42c920, 1975px 1688px #42c920,
    779px 314px #42c920, 1858px 1543px #42c920, 73px 1507px #42c920, 1693px 975px #42c920,
    1683px 108px #42c920, 1768px 1654px #42c920, 654px 14px #42c920, 494px 171px #42c920,
    1689px 1895px #42c920, 1660px 263px #42c920, 1031px 903px #42c920, 1203px 1393px #42c920,
    1333px 1421px #42c920, 1113px 41px #42c920, 1206px 1645px #42c920, 1325px 1635px #42c920,
    142px 388px #42c920, 572px 215px #42c920, 1535px 296px #42c920, 1419px 407px #42c920,
    1379px 1003px #42c920, 329px 469px #42c920, 1791px 1652px #42c920, 935px 1802px #42c920,
    1330px 1820px #42c920, 421px 1933px #42c920, 828px 365px #42c920, 275px 316px #42c920,
    707px 960px #42c920, 1605px 1554px #42c920, 625px 58px #42c920, 717px 1697px #42c920,
    1669px 246px #42c920, 1925px 322px #42c920, 1154px 1803px #42c920, 1929px 295px #42c920,
    1248px 240px #42c920, 1045px 1755px #42c920, 166px 942px #42c920, 1888px 1773px #42c920,
    678px 1963px #42c920, 1370px 569px #42c920, 1974px 1400px #42c920, 1786px 460px #42c920,
    51px 307px #42c920, 784px 1400px #42c920, 730px 1258px #42c920, 1712px 393px #42c920,
    416px 170px #42c920, 1797px 1932px #42c920, 572px 219px #42c920, 1557px 1856px #42c920,
    218px 8px #42c920, 348px 1334px #42c920, 469px 413px #42c920, 385px 1738px #42c920,
    1357px 1818px #42c920, 240px 942px #42c920, 248px 1847px #42c920, 1535px 806px #42c920,
    236px 1514px #42c920, 1429px 1556px #42c920, 73px 1633px #42c920, 1398px 1121px #42c920,
    671px 1301px #42c920, 1404px 1663px #42c920, 740px 1018px #42c920, 1600px 377px #42c920,
    785px 514px #42c920, 112px 1084px #42c920, 1915px 1887px #42c920, 1463px 1848px #42c920,
    687px 1115px #42c920, 1268px 1768px #42c920, 1729px 1425px #42c920,
    1284px 1022px #42c920, 801px 974px #42c920, 1975px 1317px #42c920, 1354px 834px #42c920,
    1446px 1484px #42c920, 1283px 1786px #42c920, 11px 523px #42c920, 1842px 236px #42c920,
    1355px 654px #42c920, 429px 7px #42c920, 1033px 1128px #42c920, 157px 297px #42c920,
    545px 635px #42c920, 52px 1080px #42c920, 827px 1520px #42c920, 1121px 490px #42c920,
    9px 309px #42c920, 1744px 1586px #42c920, 1014px 417px #42c920, 1534px 524px #42c920,
    958px 552px #42c920, 1403px 1496px #42c920, 387px 703px #42c920, 1522px 548px #42c920,
    1355px 282px #42c920, 1532px 601px #42c920, 1838px 790px #42c920, 290px 259px #42c920,
    295px 598px #42c920, 1601px 539px #42c920, 1561px 1272px #42c920, 34px 1922px #42c920,
    1024px 543px #42c920, 467px 369px #42c920, 722px 333px #42c920, 1976px 1255px #42c920,
    766px 983px #42c920, 1582px 1285px #42c920, 12px 512px #42c920, 617px 1410px #42c920,
    682px 577px #42c920, 1334px 1438px #42c920, 439px 327px #42c920, 1617px 1661px #42c920,
    673px 129px #42c920, 794px 941px #42c920, 1386px 1902px #42c920, 37px 1353px #42c920,
    1467px 1353px #42c920, 416px 18px #42c920, 187px 344px #42c920, 200px 1898px #42c920,
    1491px 1619px #42c920, 811px 347px #42c920, 924px 1827px #42c920, 945px 217px #42c920,
    1735px 1228px #42c920, 379px 1890px #42c920, 79px 761px #42c920, 825px 1837px #42c920,
    1980px 1558px #42c920, 1308px 1573px #42c920, 1488px 1726px #42c920,
    382px 1208px #42c920, 522px 595px #42c920, 1277px 1898px #42c920, 354px 552px #42c920,
    161px 1784px #42c920, 614px 251px #42c920, 526px 1576px #42c920, 17px 212px #42c920,
    179px 996px #42c920, 467px 1208px #42c920, 1944px 1838px #42c920, 1140px 1093px #42c920,
    858px 1007px #42c920, 200px 1064px #42c920, 423px 1964px #42c920, 1945px 439px #42c920,
    1377px 689px #42c920, 1120px 1437px #42c920, 1876px 668px #42c920, 907px 1324px #42c920,
    343px 1976px #42c920, 1816px 1501px #42c920, 1849px 177px #42c920, 647px 91px #42c920,
    1984px 1012px #42c920, 1336px 1300px #42c920, 128px 648px #42c920, 305px 1060px #42c920,
    1324px 826px #42c920, 1263px 1314px #42c920, 1801px 629px #42c920, 1614px 1555px #42c920,
    1634px 90px #42c920, 1603px 452px #42c920, 891px 1984px #42c920, 1556px 1906px #42c920,
    121px 68px #42c920, 1676px 1714px #42c920, 516px 936px #42c920, 1947px 1492px #42c920,
    1455px 1519px #42c920, 45px 602px #42c920, 205px 1039px #42c920, 793px 172px #42c920,
    1562px 1739px #42c920, 1056px 110px #42c920, 1512px 379px #42c920, 1795px 1621px #42c920,
    1848px 607px #42c920, 262px 1719px #42c920, 477px 991px #42c920, 483px 883px #42c920,
    1239px 1197px #42c920, 1496px 647px #42c920, 1649px 25px #42c920, 1491px 1946px #42c920,
    119px 996px #42c920, 179px 1472px #42c920, 1341px 808px #42c920, 1565px 1700px #42c920,
    407px 1544px #42c920, 1754px 357px #42c920, 1288px 981px #42c920, 902px 1997px #42c920,
    1755px 1668px #42c920, 186px 877px #42c920, 1202px 1882px #42c920, 461px 1213px #42c920,
    1400px 748px #42c920, 1969px 1899px #42c920, 809px 522px #42c920, 514px 1219px #42c920,
    374px 275px #42c920, 938px 1973px #42c920, 357px 552px #42c920, 144px 1722px #42c920,
    1572px 912px #42c920, 402px 1858px #42c920, 1544px 1195px #42c920, 667px 1257px #42c920,
    727px 1496px #42c920, 993px 232px #42c920, 1772px 313px #42c920, 1040px 1590px #42c920,
    1204px 1973px #42c920, 1268px 79px #42c920, 1555px 1048px #42c920, 986px 1707px #42c920,
    978px 1710px #42c920, 713px 360px #42c920, 407px 863px #42c920, 461px 736px #42c920,
    284px 1608px #42c920, 103px 430px #42c920, 1283px 1319px #42c920, 977px 1186px #42c920,
    1966px 1516px #42c920, 1287px 1129px #42c920, 70px 1098px #42c920, 1189px 889px #42c920,
    1126px 1734px #42c920, 309px 1292px #42c920, 879px 764px #42c920, 65px 473px #42c920,
    1003px 1959px #42c920, 658px 791px #42c920, 402px 1576px #42c920, 35px 622px #42c920,
    529px 1589px #42c920, 164px 666px #42c920, 1876px 1290px #42c920, 1541px 526px #42c920,
    270px 1297px #42c920, 440px 865px #42c920, 1500px 802px #42c920, 182px 1754px #42c920,
    1264px 892px #42c920, 272px 1249px #42c920, 1289px 1535px #42c920, 190px 1646px #42c920,
    955px 242px #42c920, 1456px 1597px #42c920, 1727px 1983px #42c920, 635px 801px #42c920,
    226px 455px #42c920, 1396px 1710px #42c920, 849px 1863px #42c920, 237px 1264px #42c920,
    839px 140px #42c920, 1122px 735px #42c920, 1280px 15px #42c920, 1318px 242px #42c920,
    1819px 1148px #42c920, 333px 1392px #42c920, 1949px 553px #42c920, 1878px 1332px #42c920,
    467px 548px #42c920, 1812px 1082px #42c920, 1067px 193px #42c920, 243px 156px #42c920,
    483px 1616px #42c920, 1714px 933px #42c920, 759px 1800px #42c920, 1822px 995px #42c920,
    1877px 572px #42c920, 581px 1084px #42c920, 107px 732px #42c920, 642px 1837px #42c920,
    166px 1493px #42c920, 1555px 198px #42c920, 819px 307px #42c920, 947px 345px #42c920,
    827px 224px #42c920, 927px 1394px #42c920, 540px 467px #42c920, 1093px 405px #42c920,
    1140px 927px #42c920, 130px 529px #42c920, 33px 1980px #42c920, 1147px 1663px #42c920,
    1616px 1436px #42c920, 528px 710px #42c920, 798px 1100px #42c920, 505px 1480px #42c920,
    899px 641px #42c920, 1909px 1949px #42c920, 1311px 964px #42c920, 979px 1301px #42c920,
    1393px 969px #42c920, 1793px 1886px #42c920, 292px 357px #42c920, 1196px 1718px #42c920,
    1290px 1994px #42c920, 537px 1973px #42c920, 1181px 1674px #42c920,
    1740px 1566px #42c920, 1307px 265px #42c920, 922px 522px #42c920, 1892px 472px #42c920,
    384px 1746px #42c920, 392px 1098px #42c920, 647px 548px #42c920, 390px 1498px #42c920,
    1246px 138px #42c920, 730px 876px #42c920, 192px 1472px #42c920, 1790px 1789px #42c920,
    928px 311px #42c920, 1253px 1647px #42c920, 747px 1921px #42c920, 1561px 1025px #42c920,
    1533px 1292px #42c920, 1985px 195px #42c920, 728px 729px #42c920, 1712px 1936px #42c920,
    512px 1717px #42c920, 1528px 483px #42c920, 313px 1642px #42c920, 281px 1849px #42c920,
    1212px 799px #42c920, 435px 1191px #42c920, 1422px 611px #42c920, 1718px 1964px #42c920,
    411px 944px #42c920, 210px 636px #42c920, 1502px 1295px #42c920, 1434px 349px #42c920,
    769px 60px #42c920, 747px 1053px #42c920, 789px 504px #42c920, 1436px 1264px #42c920,
    1893px 1225px #42c920, 1394px 1788px #42c920, 1108px 1317px #42c920,
    1673px 1395px #42c920, 854px 1010px #42c920, 1705px 80px #42c920, 1858px 148px #42c920,
    1729px 344px #42c920, 1388px 664px #42c920, 895px 406px #42c920, 1479px 157px #42c920,
    1441px 1157px #42c920, 552px 1900px #42c920, 516px 364px #42c920, 1647px 189px #42c920,
    1427px 1071px #42c920, 785px 729px #42c920, 1080px 1710px #42c920, 504px 204px #42c920,
    1177px 1622px #42c920, 657px 34px #42c920, 1296px 1099px #42c920, 248px 180px #42c920,
    1212px 1568px #42c920, 667px 1562px #42c920, 695px 841px #42c920, 1608px 1247px #42c920,
    751px 882px #42c920, 87px 167px #42c920, 607px 1368px #42c920, 1363px 1203px #42c920,
    1836px 317px #42c920, 1668px 1703px #42c920, 830px 1154px #42c920, 1721px 1398px #42c920,
    1601px 1280px #42c920, 976px 874px #42c920, 1743px 254px #42c920, 1020px 1815px #42c920,
    1670px 1766px #42c920, 1890px 735px #42c920, 1379px 136px #42c920, 1864px 695px #42c920,
    206px 965px #42c920, 1404px 1932px #42c920, 1923px 1360px #42c920, 247px 682px #42c920,
    519px 1708px #42c920, 645px 750px #42c920, 1164px 1204px #42c920, 834px 323px #42c920,
    172px 1350px #42c920, 213px 972px #42c920, 1837px 190px #42c920, 285px 1806px #42c920,
    1047px 1299px #42c920, 1548px 825px #42c920, 1730px 324px #42c920, 1346px 1909px #42c920,
    772px 270px #42c920, 345px 1190px #42c920, 478px 1433px #42c920, 1479px 25px #42c920,
    1994px 1830px #42c920, 1744px 732px #42c920, 20px 1635px #42c920, 690px 1795px #42c920,
    1594px 569px #42c920, 579px 245px #42c920, 1398px 733px #42c920, 408px 1352px #42c920,
    1774px 120px #42c920, 1152px 1370px #42c920, 1698px 1810px #42c920, 710px 1450px #42c920,
    665px 286px #42c920, 493px 1720px #42c920, 786px 5px #42c920, 637px 1140px #42c920,
    764px 324px #42c920, 927px 310px #42c920, 938px 1424px #42c920, 1884px 744px #42c920,
    913px 462px #42c920, 1831px 1936px #42c920, 1527px 249px #42c920, 36px 1381px #42c920,
    1597px 581px #42c920, 1530px 355px #42c920, 949px 459px #42c920, 799px 828px #42c920,
    242px 1471px #42c920, 654px 797px #42c920, 796px 594px #42c920, 1365px 678px #42c920,
    752px 23px #42c920, 1630px 541px #42c920, 982px 72px #42c920, 1733px 1831px #42c920,
    21px 412px #42c920, 775px 998px #42c920, 335px 1945px #42c920, 264px 583px #42c920,
    158px 1311px #42c920, 528px 164px #42c920, 1978px 574px #42c920, 717px 1203px #42c920,
    734px 1591px #42c920, 1555px 820px #42c920, 16px 1943px #42c920, 1625px 1177px #42c920,
    1236px 690px #42c920, 1585px 1590px #42c920, 1737px 1728px #42c920, 721px 698px #42c920,
    1804px 1186px #42c920, 166px 980px #42c920, 1850px 230px #42c920, 330px 1712px #42c920,
    95px 797px #42c920, 1948px 1078px #42c920, 469px 939px #42c920, 1269px 1899px #42c920,
    955px 1220px #42c920, 1137px 1075px #42c920, 312px 1293px #42c920, 986px 1762px #42c920,
    1103px 1238px #42c920, 428px 1993px #42c920, 355px 570px #42c920, 977px 1836px #42c920,
    1395px 1092px #42c920, 276px 913px #42c920, 1743px 656px #42c920, 773px 502px #42c920,
    1686px 1322px #42c920, 1516px 1945px #42c920, 1334px 501px #42c920, 266px 156px #42c920,
    455px 655px #42c920, 798px 72px #42c920, 1059px 1259px #42c920, 1402px 1687px #42c920,
    236px 1329px #42c920, 1455px 786px #42c920, 146px 1228px #42c920, 1851px 823px #42c920,
    1062px 100px #42c920, 1220px 953px #42c920, 20px 1826px #42c920, 36px 1063px #42c920,
    1525px 338px #42c920, 790px 1521px #42c920, 741px 1099px #42c920, 288px 1489px #42c920,
    700px 1060px #42c920, 390px 1071px #42c920, 411px 1036px #42c920, 1853px 1072px #42c920,
    1446px 1085px #42c920, 1164px 874px #42c920, 924px 925px #42c920, 291px 271px #42c920,
    1257px 1964px #42c920, 1580px 1352px #42c920, 1507px 1216px #42c920, 211px 956px #42c920,
    985px 1195px #42c920, 975px 1640px #42c920, 518px 101px #42c920, 663px 1395px #42c920,
    914px 532px #42c920, 145px 1320px #42c920, 69px 1397px #42c920, 982px 523px #42c920,
    257px 725px #42c920, 1599px 831px #42c920, 1636px 1513px #42c920, 1250px 1158px #42c920,
    1132px 604px #42c920, 183px 102px #42c920, 1057px 318px #42c920, 1247px 1835px #42c920,
    1983px 1110px #42c920, 1077px 1455px #42c920, 921px 1770px #42c920, 806px 1350px #42c920,
    1938px 1992px #42c920, 855px 1260px #42c920, 902px 1345px #42c920, 658px 1908px #42c920,
    1845px 679px #42c920, 712px 1482px #42c920, 595px 950px #42c920, 1784px 1992px #42c920,
    1847px 1785px #42c920, 691px 1004px #42c920, 175px 1179px #42c920, 1666px 1911px #42c920,
    41px 61px #42c920, 971px 1080px #42c920, 1830px 1450px #42c920, 1351px 1518px #42c920,
    1257px 99px #42c920, 1395px 1498px #42c920, 1117px 252px #42c920, 1779px 597px #42c920,
    1346px 729px #42c920, 1108px 1144px #42c920, 402px 691px #42c920, 72px 496px #42c920,
    1673px 1604px #42c920, 1497px 974px #42c920, 1865px 1664px #42c920, 88px 806px #42c920,
    918px 77px #42c920, 244px 1118px #42c920, 256px 1820px #42c920, 1851px 1840px #42c920,
    605px 1851px #42c920, 634px 383px #42c920, 865px 37px #42c920, 943px 1024px #42c920,
    1951px 177px #42c920, 1097px 523px #42c920, 985px 1700px #42c920, 1243px 122px #42c920,
    768px 1070px #42c920, 468px 194px #42c920, 320px 1867px #42c920, 1850px 185px #42c920,
    380px 1616px #42c920, 468px 1294px #42c920, 1122px 1743px #42c920, 884px 299px #42c920,
    1300px 1917px #42c920, 1860px 396px #42c920, 1270px 990px #42c920, 529px 733px #42c920,
    1975px 1347px #42c920, 1885px 685px #42c920, 226px 506px #42c920, 651px 878px #42c920,
    1323px 680px #42c920, 1284px 680px #42c920, 238px 1967px #42c920, 911px 174px #42c920,
    1111px 521px #42c920, 1150px 85px #42c920, 794px 502px #42c920, 484px 1856px #42c920,
    1809px 368px #42c920, 112px 953px #42c920, 590px 1009px #42c920, 1655px 311px #42c920,
    100px 1026px #42c920, 1803px 352px #42c920, 865px 306px #42c920, 1077px 1019px #42c920,
    1335px 872px #42c920, 1647px 1298px #42c920, 1233px 1387px #42c920, 698px 1036px #42c920,
    659px 1860px #42c920, 388px 1412px #42c920, 1212px 458px #42c920, 755px 1468px #42c920,
    696px 1654px #42c920, 1144px 60px #42c920;
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #42c920, 324px 42px #42c920, 303px 586px #42c920,
    1312px 276px #42c920, 451px 625px #42c920, 521px 1931px #42c920, 1087px 1871px #42c920,
    36px 1546px #42c920, 132px 934px #42c920, 1698px 901px #42c920, 1418px 664px #42c920,
    1448px 1157px #42c920, 1084px 232px #42c920, 347px 1776px #42c920, 1722px 243px #42c920,
    1629px 835px #42c920, 479px 969px #42c920, 1231px 960px #42c920, 586px 384px #42c920,
    164px 527px #42c920, 8px 646px #42c920, 1150px 1126px #42c920, 665px 1357px #42c920,
    1556px 1982px #42c920, 1260px 1961px #42c920, 1675px 1741px #42c920,
    1843px 1514px #42c920, 718px 1628px #42c920, 242px 1343px #42c920, 1497px 1880px #42c920,
    1364px 230px #42c920, 1739px 1302px #42c920, 636px 959px #42c920, 304px 686px #42c920,
    614px 751px #42c920, 1935px 816px #42c920, 1428px 60px #42c920, 355px 335px #42c920,
    1594px 158px #42c920, 90px 60px #42c920, 1553px 162px #42c920, 1239px 1825px #42c920,
    1945px 587px #42c920, 749px 1785px #42c920, 1987px 1172px #42c920, 1301px 1237px #42c920,
    1039px 342px #42c920, 1585px 1481px #42c920, 995px 1048px #42c920, 524px 932px #42c920,
    214px 413px #42c920, 1701px 1300px #42c920, 1037px 1613px #42c920, 1871px 996px #42c920,
    1360px 1635px #42c920, 1110px 1313px #42c920, 412px 1783px #42c920, 1949px 177px #42c920,
    903px 1854px #42c920, 700px 1936px #42c920, 378px 125px #42c920, 308px 834px #42c920,
    1118px 962px #42c920, 1350px 1929px #42c920, 781px 1811px #42c920, 561px 137px #42c920,
    757px 1148px #42c920, 1670px 1979px #42c920, 343px 739px #42c920, 945px 795px #42c920,
    576px 1903px #42c920, 1078px 1436px #42c920, 1583px 450px #42c920, 1366px 474px #42c920,
    297px 1873px #42c920, 192px 162px #42c920, 1624px 1633px #42c920, 59px 453px #42c920,
    82px 1872px #42c920, 1933px 498px #42c920, 1966px 1974px #42c920, 1975px 1688px #42c920,
    779px 314px #42c920, 1858px 1543px #42c920, 73px 1507px #42c920, 1693px 975px #42c920,
    1683px 108px #42c920, 1768px 1654px #42c920, 654px 14px #42c920, 494px 171px #42c920,
    1689px 1895px #42c920, 1660px 263px #42c920, 1031px 903px #42c920, 1203px 1393px #42c920,
    1333px 1421px #42c920, 1113px 41px #42c920, 1206px 1645px #42c920, 1325px 1635px #42c920,
    142px 388px #42c920, 572px 215px #42c920, 1535px 296px #42c920, 1419px 407px #42c920,
    1379px 1003px #42c920, 329px 469px #42c920, 1791px 1652px #42c920, 935px 1802px #42c920,
    1330px 1820px #42c920, 421px 1933px #42c920, 828px 365px #42c920, 275px 316px #42c920,
    707px 960px #42c920, 1605px 1554px #42c920, 625px 58px #42c920, 717px 1697px #42c920,
    1669px 246px #42c920, 1925px 322px #42c920, 1154px 1803px #42c920, 1929px 295px #42c920,
    1248px 240px #42c920, 1045px 1755px #42c920, 166px 942px #42c920, 1888px 1773px #42c920,
    678px 1963px #42c920, 1370px 569px #42c920, 1974px 1400px #42c920, 1786px 460px #42c920,
    51px 307px #42c920, 784px 1400px #42c920, 730px 1258px #42c920, 1712px 393px #42c920,
    416px 170px #42c920, 1797px 1932px #42c920, 572px 219px #42c920, 1557px 1856px #42c920,
    218px 8px #42c920, 348px 1334px #42c920, 469px 413px #42c920, 385px 1738px #42c920,
    1357px 1818px #42c920, 240px 942px #42c920, 248px 1847px #42c920, 1535px 806px #42c920,
    236px 1514px #42c920, 1429px 1556px #42c920, 73px 1633px #42c920, 1398px 1121px #42c920,
    671px 1301px #42c920, 1404px 1663px #42c920, 740px 1018px #42c920, 1600px 377px #42c920,
    785px 514px #42c920, 112px 1084px #42c920, 1915px 1887px #42c920, 1463px 1848px #42c920,
    687px 1115px #42c920, 1268px 1768px #42c920, 1729px 1425px #42c920,
    1284px 1022px #42c920, 801px 974px #42c920, 1975px 1317px #42c920, 1354px 834px #42c920,
    1446px 1484px #42c920, 1283px 1786px #42c920, 11px 523px #42c920, 1842px 236px #42c920,
    1355px 654px #42c920, 429px 7px #42c920, 1033px 1128px #42c920, 157px 297px #42c920,
    545px 635px #42c920, 52px 1080px #42c920, 827px 1520px #42c920, 1121px 490px #42c920,
    9px 309px #42c920, 1744px 1586px #42c920, 1014px 417px #42c920, 1534px 524px #42c920,
    958px 552px #42c920, 1403px 1496px #42c920, 387px 703px #42c920, 1522px 548px #42c920,
    1355px 282px #42c920, 1532px 601px #42c920, 1838px 790px #42c920, 290px 259px #42c920,
    295px 598px #42c920, 1601px 539px #42c920, 1561px 1272px #42c920, 34px 1922px #42c920,
    1024px 543px #42c920, 467px 369px #42c920, 722px 333px #42c920, 1976px 1255px #42c920,
    766px 983px #42c920, 1582px 1285px #42c920, 12px 512px #42c920, 617px 1410px #42c920,
    682px 577px #42c920, 1334px 1438px #42c920, 439px 327px #42c920, 1617px 1661px #42c920,
    673px 129px #42c920, 794px 941px #42c920, 1386px 1902px #42c920, 37px 1353px #42c920,
    1467px 1353px #42c920, 416px 18px #42c920, 187px 344px #42c920, 200px 1898px #42c920,
    1491px 1619px #42c920, 811px 347px #42c920, 924px 1827px #42c920, 945px 217px #42c920,
    1735px 1228px #42c920, 379px 1890px #42c920, 79px 761px #42c920, 825px 1837px #42c920,
    1980px 1558px #42c920, 1308px 1573px #42c920, 1488px 1726px #42c920,
    382px 1208px #42c920, 522px 595px #42c920, 1277px 1898px #42c920, 354px 552px #42c920,
    161px 1784px #42c920, 614px 251px #42c920, 526px 1576px #42c920, 17px 212px #42c920,
    179px 996px #42c920, 467px 1208px #42c920, 1944px 1838px #42c920, 1140px 1093px #42c920,
    858px 1007px #42c920, 200px 1064px #42c920, 423px 1964px #42c920, 1945px 439px #42c920,
    1377px 689px #42c920, 1120px 1437px #42c920, 1876px 668px #42c920, 907px 1324px #42c920,
    343px 1976px #42c920, 1816px 1501px #42c920, 1849px 177px #42c920, 647px 91px #42c920,
    1984px 1012px #42c920, 1336px 1300px #42c920, 128px 648px #42c920, 305px 1060px #42c920,
    1324px 826px #42c920, 1263px 1314px #42c920, 1801px 629px #42c920, 1614px 1555px #42c920,
    1634px 90px #42c920, 1603px 452px #42c920, 891px 1984px #42c920, 1556px 1906px #42c920,
    121px 68px #42c920, 1676px 1714px #42c920, 516px 936px #42c920, 1947px 1492px #42c920,
    1455px 1519px #42c920, 45px 602px #42c920, 205px 1039px #42c920, 793px 172px #42c920,
    1562px 1739px #42c920, 1056px 110px #42c920, 1512px 379px #42c920, 1795px 1621px #42c920,
    1848px 607px #42c920, 262px 1719px #42c920, 477px 991px #42c920, 483px 883px #42c920,
    1239px 1197px #42c920, 1496px 647px #42c920, 1649px 25px #42c920, 1491px 1946px #42c920,
    119px 996px #42c920, 179px 1472px #42c920, 1341px 808px #42c920, 1565px 1700px #42c920,
    407px 1544px #42c920, 1754px 357px #42c920, 1288px 981px #42c920, 902px 1997px #42c920,
    1755px 1668px #42c920, 186px 877px #42c920, 1202px 1882px #42c920, 461px 1213px #42c920,
    1400px 748px #42c920, 1969px 1899px #42c920, 809px 522px #42c920, 514px 1219px #42c920,
    374px 275px #42c920, 938px 1973px #42c920, 357px 552px #42c920, 144px 1722px #42c920,
    1572px 912px #42c920, 402px 1858px #42c920, 1544px 1195px #42c920, 667px 1257px #42c920,
    727px 1496px #42c920, 993px 232px #42c920, 1772px 313px #42c920, 1040px 1590px #42c920,
    1204px 1973px #42c920, 1268px 79px #42c920, 1555px 1048px #42c920, 986px 1707px #42c920,
    978px 1710px #42c920, 713px 360px #42c920, 407px 863px #42c920, 461px 736px #42c920,
    284px 1608px #42c920, 103px 430px #42c920, 1283px 1319px #42c920, 977px 1186px #42c920,
    1966px 1516px #42c920, 1287px 1129px #42c920, 70px 1098px #42c920, 1189px 889px #42c920,
    1126px 1734px #42c920, 309px 1292px #42c920, 879px 764px #42c920, 65px 473px #42c920,
    1003px 1959px #42c920, 658px 791px #42c920, 402px 1576px #42c920, 35px 622px #42c920,
    529px 1589px #42c920, 164px 666px #42c920, 1876px 1290px #42c920, 1541px 526px #42c920,
    270px 1297px #42c920, 440px 865px #42c920, 1500px 802px #42c920, 182px 1754px #42c920,
    1264px 892px #42c920, 272px 1249px #42c920, 1289px 1535px #42c920, 190px 1646px #42c920,
    955px 242px #42c920, 1456px 1597px #42c920, 1727px 1983px #42c920, 635px 801px #42c920,
    226px 455px #42c920, 1396px 1710px #42c920, 849px 1863px #42c920, 237px 1264px #42c920,
    839px 140px #42c920, 1122px 735px #42c920, 1280px 15px #42c920, 1318px 242px #42c920,
    1819px 1148px #42c920, 333px 1392px #42c920, 1949px 553px #42c920, 1878px 1332px #42c920,
    467px 548px #42c920, 1812px 1082px #42c920, 1067px 193px #42c920, 243px 156px #42c920,
    483px 1616px #42c920, 1714px 933px #42c920, 759px 1800px #42c920, 1822px 995px #42c920,
    1877px 572px #42c920, 581px 1084px #42c920, 107px 732px #42c920, 642px 1837px #42c920,
    166px 1493px #42c920, 1555px 198px #42c920, 819px 307px #42c920, 947px 345px #42c920,
    827px 224px #42c920, 927px 1394px #42c920, 540px 467px #42c920, 1093px 405px #42c920,
    1140px 927px #42c920, 130px 529px #42c920, 33px 1980px #42c920, 1147px 1663px #42c920,
    1616px 1436px #42c920, 528px 710px #42c920, 798px 1100px #42c920, 505px 1480px #42c920,
    899px 641px #42c920, 1909px 1949px #42c920, 1311px 964px #42c920, 979px 1301px #42c920,
    1393px 969px #42c920, 1793px 1886px #42c920, 292px 357px #42c920, 1196px 1718px #42c920,
    1290px 1994px #42c920, 537px 1973px #42c920, 1181px 1674px #42c920,
    1740px 1566px #42c920, 1307px 265px #42c920, 922px 522px #42c920, 1892px 472px #42c920,
    384px 1746px #42c920, 392px 1098px #42c920, 647px 548px #42c920, 390px 1498px #42c920,
    1246px 138px #42c920, 730px 876px #42c920, 192px 1472px #42c920, 1790px 1789px #42c920,
    928px 311px #42c920, 1253px 1647px #42c920, 747px 1921px #42c920, 1561px 1025px #42c920,
    1533px 1292px #42c920, 1985px 195px #42c920, 728px 729px #42c920, 1712px 1936px #42c920,
    512px 1717px #42c920, 1528px 483px #42c920, 313px 1642px #42c920, 281px 1849px #42c920,
    1212px 799px #42c920, 435px 1191px #42c920, 1422px 611px #42c920, 1718px 1964px #42c920,
    411px 944px #42c920, 210px 636px #42c920, 1502px 1295px #42c920, 1434px 349px #42c920,
    769px 60px #42c920, 747px 1053px #42c920, 789px 504px #42c920, 1436px 1264px #42c920,
    1893px 1225px #42c920, 1394px 1788px #42c920, 1108px 1317px #42c920,
    1673px 1395px #42c920, 854px 1010px #42c920, 1705px 80px #42c920, 1858px 148px #42c920,
    1729px 344px #42c920, 1388px 664px #42c920, 895px 406px #42c920, 1479px 157px #42c920,
    1441px 1157px #42c920, 552px 1900px #42c920, 516px 364px #42c920, 1647px 189px #42c920,
    1427px 1071px #42c920, 785px 729px #42c920, 1080px 1710px #42c920, 504px 204px #42c920,
    1177px 1622px #42c920, 657px 34px #42c920, 1296px 1099px #42c920, 248px 180px #42c920,
    1212px 1568px #42c920, 667px 1562px #42c920, 695px 841px #42c920, 1608px 1247px #42c920,
    751px 882px #42c920, 87px 167px #42c920, 607px 1368px #42c920, 1363px 1203px #42c920,
    1836px 317px #42c920, 1668px 1703px #42c920, 830px 1154px #42c920, 1721px 1398px #42c920,
    1601px 1280px #42c920, 976px 874px #42c920, 1743px 254px #42c920, 1020px 1815px #42c920,
    1670px 1766px #42c920, 1890px 735px #42c920, 1379px 136px #42c920, 1864px 695px #42c920,
    206px 965px #42c920, 1404px 1932px #42c920, 1923px 1360px #42c920, 247px 682px #42c920,
    519px 1708px #42c920, 645px 750px #42c920, 1164px 1204px #42c920, 834px 323px #42c920,
    172px 1350px #42c920, 213px 972px #42c920, 1837px 190px #42c920, 285px 1806px #42c920,
    1047px 1299px #42c920, 1548px 825px #42c920, 1730px 324px #42c920, 1346px 1909px #42c920,
    772px 270px #42c920, 345px 1190px #42c920, 478px 1433px #42c920, 1479px 25px #42c920,
    1994px 1830px #42c920, 1744px 732px #42c920, 20px 1635px #42c920, 690px 1795px #42c920,
    1594px 569px #42c920, 579px 245px #42c920, 1398px 733px #42c920, 408px 1352px #42c920,
    1774px 120px #42c920, 1152px 1370px #42c920, 1698px 1810px #42c920, 710px 1450px #42c920,
    665px 286px #42c920, 493px 1720px #42c920, 786px 5px #42c920, 637px 1140px #42c920,
    764px 324px #42c920, 927px 310px #42c920, 938px 1424px #42c920, 1884px 744px #42c920,
    913px 462px #42c920, 1831px 1936px #42c920, 1527px 249px #42c920, 36px 1381px #42c920,
    1597px 581px #42c920, 1530px 355px #42c920, 949px 459px #42c920, 799px 828px #42c920,
    242px 1471px #42c920, 654px 797px #42c920, 796px 594px #42c920, 1365px 678px #42c920,
    752px 23px #42c920, 1630px 541px #42c920, 982px 72px #42c920, 1733px 1831px #42c920,
    21px 412px #42c920, 775px 998px #42c920, 335px 1945px #42c920, 264px 583px #42c920,
    158px 1311px #42c920, 528px 164px #42c920, 1978px 574px #42c920, 717px 1203px #42c920,
    734px 1591px #42c920, 1555px 820px #42c920, 16px 1943px #42c920, 1625px 1177px #42c920,
    1236px 690px #42c920, 1585px 1590px #42c920, 1737px 1728px #42c920, 721px 698px #42c920,
    1804px 1186px #42c920, 166px 980px #42c920, 1850px 230px #42c920, 330px 1712px #42c920,
    95px 797px #42c920, 1948px 1078px #42c920, 469px 939px #42c920, 1269px 1899px #42c920,
    955px 1220px #42c920, 1137px 1075px #42c920, 312px 1293px #42c920, 986px 1762px #42c920,
    1103px 1238px #42c920, 428px 1993px #42c920, 355px 570px #42c920, 977px 1836px #42c920,
    1395px 1092px #42c920, 276px 913px #42c920, 1743px 656px #42c920, 773px 502px #42c920,
    1686px 1322px #42c920, 1516px 1945px #42c920, 1334px 501px #42c920, 266px 156px #42c920,
    455px 655px #42c920, 798px 72px #42c920, 1059px 1259px #42c920, 1402px 1687px #42c920,
    236px 1329px #42c920, 1455px 786px #42c920, 146px 1228px #42c920, 1851px 823px #42c920,
    1062px 100px #42c920, 1220px 953px #42c920, 20px 1826px #42c920, 36px 1063px #42c920,
    1525px 338px #42c920, 790px 1521px #42c920, 741px 1099px #42c920, 288px 1489px #42c920,
    700px 1060px #42c920, 390px 1071px #42c920, 411px 1036px #42c920, 1853px 1072px #42c920,
    1446px 1085px #42c920, 1164px 874px #42c920, 924px 925px #42c920, 291px 271px #42c920,
    1257px 1964px #42c920, 1580px 1352px #42c920, 1507px 1216px #42c920, 211px 956px #42c920,
    985px 1195px #42c920, 975px 1640px #42c920, 518px 101px #42c920, 663px 1395px #42c920,
    914px 532px #42c920, 145px 1320px #42c920, 69px 1397px #42c920, 982px 523px #42c920,
    257px 725px #42c920, 1599px 831px #42c920, 1636px 1513px #42c920, 1250px 1158px #42c920,
    1132px 604px #42c920, 183px 102px #42c920, 1057px 318px #42c920, 1247px 1835px #42c920,
    1983px 1110px #42c920, 1077px 1455px #42c920, 921px 1770px #42c920, 806px 1350px #42c920,
    1938px 1992px #42c920, 855px 1260px #42c920, 902px 1345px #42c920, 658px 1908px #42c920,
    1845px 679px #42c920, 712px 1482px #42c920, 595px 950px #42c920, 1784px 1992px #42c920,
    1847px 1785px #42c920, 691px 1004px #42c920, 175px 1179px #42c920, 1666px 1911px #42c920,
    41px 61px #42c920, 971px 1080px #42c920, 1830px 1450px #42c920, 1351px 1518px #42c920,
    1257px 99px #42c920, 1395px 1498px #42c920, 1117px 252px #42c920, 1779px 597px #42c920,
    1346px 729px #42c920, 1108px 1144px #42c920, 402px 691px #42c920, 72px 496px #42c920,
    1673px 1604px #42c920, 1497px 974px #42c920, 1865px 1664px #42c920, 88px 806px #42c920,
    918px 77px #42c920, 244px 1118px #42c920, 256px 1820px #42c920, 1851px 1840px #42c920,
    605px 1851px #42c920, 634px 383px #42c920, 865px 37px #42c920, 943px 1024px #42c920,
    1951px 177px #42c920, 1097px 523px #42c920, 985px 1700px #42c920, 1243px 122px #42c920,
    768px 1070px #42c920, 468px 194px #42c920, 320px 1867px #42c920, 1850px 185px #42c920,
    380px 1616px #42c920, 468px 1294px #42c920, 1122px 1743px #42c920, 884px 299px #42c920,
    1300px 1917px #42c920, 1860px 396px #42c920, 1270px 990px #42c920, 529px 733px #42c920,
    1975px 1347px #42c920, 1885px 685px #42c920, 226px 506px #42c920, 651px 878px #42c920,
    1323px 680px #42c920, 1284px 680px #42c920, 238px 1967px #42c920, 911px 174px #42c920,
    1111px 521px #42c920, 1150px 85px #42c920, 794px 502px #42c920, 484px 1856px #42c920,
    1809px 368px #42c920, 112px 953px #42c920, 590px 1009px #42c920, 1655px 311px #42c920,
    100px 1026px #42c920, 1803px 352px #42c920, 865px 306px #42c920, 1077px 1019px #42c920,
    1335px 872px #42c920, 1647px 1298px #42c920, 1233px 1387px #42c920, 698px 1036px #42c920,
    659px 1860px #42c920, 388px 1412px #42c920, 1212px 458px #42c920, 755px 1468px #42c920,
    696px 1654px #42c920, 1144px 60px #42c920;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #42c920, 1775px 1663px #42c920, 332px 1364px #42c920,
    878px 340px #42c920, 569px 1832px #42c920, 1422px 1684px #42c920, 1946px 1907px #42c920,
    121px 979px #42c920, 1044px 1069px #42c920, 463px 381px #42c920, 423px 112px #42c920,
    523px 1179px #42c920, 779px 654px #42c920, 1398px 694px #42c920, 1085px 1464px #42c920,
    1599px 1869px #42c920, 801px 1882px #42c920, 779px 1231px #42c920, 552px 932px #42c920,
    1057px 1196px #42c920, 282px 1280px #42c920, 496px 1986px #42c920, 1833px 1120px #42c920,
    1802px 1293px #42c920, 6px 1696px #42c920, 412px 1902px #42c920, 605px 438px #42c920,
    24px 1212px #42c920, 234px 1320px #42c920, 544px 344px #42c920, 1107px 170px #42c920,
    1603px 196px #42c920, 905px 648px #42c920, 68px 1458px #42c920, 649px 1969px #42c920,
    744px 675px #42c920, 1127px 478px #42c920, 714px 1814px #42c920, 1486px 526px #42c920,
    270px 1636px #42c920, 1931px 149px #42c920, 1807px 378px #42c920, 8px 390px #42c920,
    1415px 699px #42c920, 1473px 1211px #42c920, 1590px 141px #42c920, 270px 1705px #42c920,
    69px 1423px #42c920, 1108px 1053px #42c920, 1946px 128px #42c920, 371px 371px #42c920,
    1490px 220px #42c920, 357px 1885px #42c920, 363px 363px #42c920, 1896px 1256px #42c920,
    1979px 1050px #42c920, 947px 1342px #42c920, 1754px 242px #42c920, 514px 974px #42c920,
    65px 1477px #42c920, 1840px 547px #42c920, 950px 695px #42c920, 459px 1150px #42c920,
    1124px 1502px #42c920, 481px 940px #42c920, 680px 839px #42c920, 797px 1169px #42c920,
    1977px 1491px #42c920, 734px 1724px #42c920, 210px 298px #42c920, 816px 628px #42c920,
    686px 770px #42c920, 1721px 267px #42c920, 1663px 511px #42c920, 1481px 1141px #42c920,
    582px 248px #42c920, 1308px 953px #42c920, 628px 657px #42c920, 897px 1535px #42c920,
    270px 931px #42c920, 791px 467px #42c920, 1336px 1732px #42c920, 1013px 1653px #42c920,
    1911px 956px #42c920, 587px 816px #42c920, 83px 456px #42c920, 930px 1478px #42c920,
    1587px 1694px #42c920, 614px 1200px #42c920, 302px 1782px #42c920, 1711px 1432px #42c920,
    443px 904px #42c920, 1666px 714px #42c920, 1588px 1167px #42c920, 273px 1075px #42c920,
    1679px 461px #42c920, 721px 664px #42c920, 1202px 10px #42c920, 166px 1126px #42c920,
    331px 1628px #42c920, 430px 1565px #42c920, 1585px 509px #42c920, 640px 38px #42c920,
    822px 837px #42c920, 1760px 1664px #42c920, 1122px 1458px #42c920, 398px 131px #42c920,
    689px 285px #42c920, 460px 652px #42c920, 1627px 365px #42c920, 348px 1648px #42c920,
    819px 1946px #42c920, 981px 1917px #42c920, 323px 76px #42c920, 979px 684px #42c920,
    887px 536px #42c920, 1348px 1596px #42c920, 1055px 666px #42c920, 1402px 1797px #42c920,
    1300px 1055px #42c920, 937px 238px #42c920, 1474px 1815px #42c920, 1144px 1710px #42c920,
    1629px 1087px #42c920, 911px 919px #42c920, 771px 819px #42c920, 403px 720px #42c920,
    163px 736px #42c920, 1062px 238px #42c920, 1774px 818px #42c920, 1874px 1178px #42c920,
    1177px 699px #42c920, 1244px 1244px #42c920, 1371px 58px #42c920, 564px 1515px #42c920,
    1824px 487px #42c920, 929px 702px #42c920, 394px 1348px #42c920, 1161px 641px #42c920,
    219px 1841px #42c920, 358px 941px #42c920, 140px 1759px #42c920, 1019px 1345px #42c920,
    274px 436px #42c920, 1433px 1605px #42c920, 1798px 1426px #42c920, 294px 1848px #42c920,
    1681px 1877px #42c920, 1344px 1824px #42c920, 1439px 1632px #42c920,
    161px 1012px #42c920, 1308px 588px #42c920, 1789px 582px #42c920, 721px 1910px #42c920,
    318px 218px #42c920, 607px 319px #42c920, 495px 535px #42c920, 1552px 1575px #42c920,
    1562px 67px #42c920, 403px 926px #42c920, 1096px 1800px #42c920, 1814px 1709px #42c920,
    1882px 1831px #42c920, 533px 46px #42c920, 823px 969px #42c920, 530px 165px #42c920,
    1030px 352px #42c920, 1681px 313px #42c920, 338px 115px #42c920, 1607px 211px #42c920,
    1718px 1184px #42c920, 1589px 659px #42c920, 278px 355px #42c920, 464px 1464px #42c920,
    1165px 277px #42c920, 950px 694px #42c920, 1746px 293px #42c920, 793px 911px #42c920,
    528px 773px #42c920, 1883px 1694px #42c920, 748px 182px #42c920, 1924px 1531px #42c920,
    100px 636px #42c920, 1473px 1445px #42c920, 1264px 1244px #42c920, 850px 1377px #42c920,
    987px 1976px #42c920, 933px 1761px #42c920, 922px 1270px #42c920, 500px 396px #42c920,
    1324px 8px #42c920, 1967px 1814px #42c920, 1072px 1401px #42c920, 961px 37px #42c920,
    156px 81px #42c920, 1915px 502px #42c920, 1076px 1846px #42c920, 152px 1669px #42c920,
    986px 1529px #42c920, 1667px 1137px #42c920;
}

#stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #42c920, 1775px 1663px #42c920, 332px 1364px #42c920,
    878px 340px #42c920, 569px 1832px #42c920, 1422px 1684px #42c920, 1946px 1907px #42c920,
    121px 979px #42c920, 1044px 1069px #42c920, 463px 381px #42c920, 423px 112px #42c920,
    523px 1179px #42c920, 779px 654px #42c920, 1398px 694px #42c920, 1085px 1464px #42c920,
    1599px 1869px #42c920, 801px 1882px #42c920, 779px 1231px #42c920, 552px 932px #42c920,
    1057px 1196px #42c920, 282px 1280px #42c920, 496px 1986px #42c920, 1833px 1120px #42c920,
    1802px 1293px #42c920, 6px 1696px #42c920, 412px 1902px #42c920, 605px 438px #42c920,
    24px 1212px #42c920, 234px 1320px #42c920, 544px 344px #42c920, 1107px 170px #42c920,
    1603px 196px #42c920, 905px 648px #42c920, 68px 1458px #42c920, 649px 1969px #42c920,
    744px 675px #42c920, 1127px 478px #42c920, 714px 1814px #42c920, 1486px 526px #42c920,
    270px 1636px #42c920, 1931px 149px #42c920, 1807px 378px #42c920, 8px 390px #42c920,
    1415px 699px #42c920, 1473px 1211px #42c920, 1590px 141px #42c920, 270px 1705px #42c920,
    69px 1423px #42c920, 1108px 1053px #42c920, 1946px 128px #42c920, 371px 371px #42c920,
    1490px 220px #42c920, 357px 1885px #42c920, 363px 363px #42c920, 1896px 1256px #42c920,
    1979px 1050px #42c920, 947px 1342px #42c920, 1754px 242px #42c920, 514px 974px #42c920,
    65px 1477px #42c920, 1840px 547px #42c920, 950px 695px #42c920, 459px 1150px #42c920,
    1124px 1502px #42c920, 481px 940px #42c920, 680px 839px #42c920, 797px 1169px #42c920,
    1977px 1491px #42c920, 734px 1724px #42c920, 210px 298px #42c920, 816px 628px #42c920,
    686px 770px #42c920, 1721px 267px #42c920, 1663px 511px #42c920, 1481px 1141px #42c920,
    582px 248px #42c920, 1308px 953px #42c920, 628px 657px #42c920, 897px 1535px #42c920,
    270px 931px #42c920, 791px 467px #42c920, 1336px 1732px #42c920, 1013px 1653px #42c920,
    1911px 956px #42c920, 587px 816px #42c920, 83px 456px #42c920, 930px 1478px #42c920,
    1587px 1694px #42c920, 614px 1200px #42c920, 302px 1782px #42c920, 1711px 1432px #42c920,
    443px 904px #42c920, 1666px 714px #42c920, 1588px 1167px #42c920, 273px 1075px #42c920,
    1679px 461px #42c920, 721px 664px #42c920, 1202px 10px #42c920, 166px 1126px #42c920,
    331px 1628px #42c920, 430px 1565px #42c920, 1585px 509px #42c920, 640px 38px #42c920,
    822px 837px #42c920, 1760px 1664px #42c920, 1122px 1458px #42c920, 398px 131px #42c920,
    689px 285px #42c920, 460px 652px #42c920, 1627px 365px #42c920, 348px 1648px #42c920,
    819px 1946px #42c920, 981px 1917px #42c920, 323px 76px #42c920, 979px 684px #42c920,
    887px 536px #42c920, 1348px 1596px #42c920, 1055px 666px #42c920, 1402px 1797px #42c920,
    1300px 1055px #42c920, 937px 238px #42c920, 1474px 1815px #42c920, 1144px 1710px #42c920,
    1629px 1087px #42c920, 911px 919px #42c920, 771px 819px #42c920, 403px 720px #42c920,
    163px 736px #42c920, 1062px 238px #42c920, 1774px 818px #42c920, 1874px 1178px #42c920,
    1177px 699px #42c920, 1244px 1244px #42c920, 1371px 58px #42c920, 564px 1515px #42c920,
    1824px 487px #42c920, 929px 702px #42c920, 394px 1348px #42c920, 1161px 641px #42c920,
    219px 1841px #42c920, 358px 941px #42c920, 140px 1759px #42c920, 1019px 1345px #42c920,
    274px 436px #42c920, 1433px 1605px #42c920, 1798px 1426px #42c920, 294px 1848px #42c920,
    1681px 1877px #42c920, 1344px 1824px #42c920, 1439px 1632px #42c920,
    161px 1012px #42c920, 1308px 588px #42c920, 1789px 582px #42c920, 721px 1910px #42c920,
    318px 218px #42c920, 607px 319px #42c920, 495px 535px #42c920, 1552px 1575px #42c920,
    1562px 67px #42c920, 403px 926px #42c920, 1096px 1800px #42c920, 1814px 1709px #42c920,
    1882px 1831px #42c920, 533px 46px #42c920, 823px 969px #42c920, 530px 165px #42c920,
    1030px 352px #42c920, 1681px 313px #42c920, 338px 115px #42c920, 1607px 211px #42c920,
    1718px 1184px #42c920, 1589px 659px #42c920, 278px 355px #42c920, 464px 1464px #42c920,
    1165px 277px #42c920, 950px 694px #42c920, 1746px 293px #42c920, 793px 911px #42c920,
    528px 773px #42c920, 1883px 1694px #42c920, 748px 182px #42c920, 1924px 1531px #42c920,
    100px 636px #42c920, 1473px 1445px #42c920, 1264px 1244px #42c920, 850px 1377px #42c920,
    987px 1976px #42c920, 933px 1761px #42c920, 922px 1270px #42c920, 500px 396px #42c920,
    1324px 8px #42c920, 1967px 1814px #42c920, 1072px 1401px #42c920, 961px 37px #42c920,
    156px 81px #42c920, 1915px 502px #42c920, 1076px 1846px #42c920, 152px 1669px #42c920,
    986px 1529px #42c920, 1667px 1137px #42c920;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinte;
  box-shadow: 387px 1878px #42c920, 760px 1564px #42c920, 1487px 999px #42c920,
    948px 1828px #42c920, 1977px 1001px #42c920, 1284px 1963px #42c920, 656px 284px #42c920,
    1268px 1635px #42c920, 1820px 598px #42c920, 642px 1900px #42c920, 296px 57px #42c920,
    921px 1620px #42c920, 476px 1858px #42c920, 658px 613px #42c920, 1171px 1363px #42c920,
    1419px 283px #42c920, 1037px 731px #42c920, 503px 663px #42c920, 1562px 463px #42c920,
    383px 1197px #42c920, 1171px 1233px #42c920, 876px 1768px #42c920, 856px 1615px #42c920,
    1375px 1924px #42c920, 1725px 918px #42c920, 952px 119px #42c920, 768px 1212px #42c920,
    992px 1462px #42c920, 1929px 717px #42c920, 1947px 755px #42c920, 1818px 1123px #42c920,
    1896px 1672px #42c920, 460px 198px #42c920, 256px 271px #42c920, 752px 544px #42c920,
    1222px 1859px #42c920, 1851px 443px #42c920, 313px 1858px #42c920, 709px 446px #42c920,
    1546px 697px #42c920, 674px 1155px #42c920, 1112px 130px #42c920, 355px 1790px #42c920,
    1496px 974px #42c920, 1696px 480px #42c920, 1316px 1265px #42c920, 1645px 1063px #42c920,
    1182px 237px #42c920, 427px 1582px #42c920, 859px 253px #42c920, 458px 939px #42c920,
    1517px 1644px #42c920, 1943px 60px #42c920, 212px 1650px #42c920, 966px 1786px #42c920,
    473px 712px #42c920, 130px 76px #42c920, 1417px 1186px #42c920, 909px 1580px #42c920,
    1913px 762px #42c920, 204px 1143px #42c920, 1998px 1057px #42c920, 1468px 1301px #42c920,
    144px 1676px #42c920, 21px 1601px #42c920, 382px 1362px #42c920, 912px 753px #42c920,
    1488px 1405px #42c920, 802px 156px #42c920, 174px 550px #42c920, 338px 1366px #42c920,
    1197px 774px #42c920, 602px 486px #42c920, 682px 1877px #42c920, 348px 1503px #42c920,
    407px 1139px #42c920, 950px 1400px #42c920, 922px 1139px #42c920, 1697px 293px #42c920,
    1238px 1281px #42c920, 1038px 1197px #42c920, 376px 1889px #42c920,
    1255px 1680px #42c920, 1008px 1316px #42c920, 1538px 1447px #42c920,
    1186px 874px #42c920, 1967px 640px #42c920, 1341px 19px #42c920, 29px 1732px #42c920,
    16px 1650px #42c920, 1021px 1075px #42c920, 723px 424px #42c920, 1175px 41px #42c920,
    494px 1957px #42c920, 1296px 431px #42c920, 175px 1507px #42c920, 831px 121px #42c920,
    498px 1947px #42c920, 617px 880px #42c920, 240px 403px #42c920;
}

#stars3:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #42c920, 760px 1564px #42c920, 1487px 999px #42c920,
    948px 1828px #42c920, 1977px 1001px #42c920, 1284px 1963px #42c920, 656px 284px #42c920,
    1268px 1635px #42c920, 1820px 598px #42c920, 642px 1900px #42c920, 296px 57px #42c920,
    921px 1620px #42c920, 476px 1858px #42c920, 658px 613px #42c920, 1171px 1363px #42c920,
    1419px 283px #42c920, 1037px 731px #42c920, 503px 663px #42c920, 1562px 463px #42c920,
    383px 1197px #42c920, 1171px 1233px #42c920, 876px 1768px #42c920, 856px 1615px #42c920,
    1375px 1924px #42c920, 1725px 918px #42c920, 952px 119px #42c920, 768px 1212px #42c920,
    992px 1462px #42c920, 1929px 717px #42c920, 1947px 755px #42c920, 1818px 1123px #42c920,
    1896px 1672px #42c920, 460px 198px #42c920, 256px 271px #42c920, 752px 544px #42c920,
    1222px 1859px #42c920, 1851px 443px #42c920, 313px 1858px #42c920, 709px 446px #42c920,
    1546px 697px #42c920, 674px 1155px #42c920, 1112px 130px #42c920, 355px 1790px #42c920,
    1496px 974px #42c920, 1696px 480px #42c920, 1316px 1265px #42c920, 1645px 1063px #42c920,
    1182px 237px #42c920, 427px 1582px #42c920, 859px 253px #42c920, 458px 939px #42c920,
    1517px 1644px #42c920, 1943px 60px #42c920, 212px 1650px #42c920, 966px 1786px #42c920,
    473px 712px #42c920, 130px 76px #42c920, 1417px 1186px #42c920, 909px 1580px #42c920,
    1913px 762px #42c920, 204px 1143px #42c920, 1998px 1057px #42c920, 1468px 1301px #42c920,
    144px 1676px #42c920, 21px 1601px #42c920, 382px 1362px #42c920, 912px 753px #42c920,
    1488px 1405px #42c920, 802px 156px #42c920, 174px 550px #42c920, 338px 1366px #42c920,
    1197px 774px #42c920, 602px 486px #42c920, 682px 1877px #42c920, 348px 1503px #42c920,
    407px 1139px #42c920, 950px 1400px #42c920, 922px 1139px #42c920, 1697px 293px #42c920,
    1238px 1281px #42c920, 1038px 1197px #42c920, 376px 1889px #42c920,
    1255px 1680px #42c920, 1008px 1316px #42c920, 1538px 1447px #42c920,
    1186px 874px #42c920, 1967px 640px #42c920, 1341px 19px #42c920, 29px 1732px #42c920,
    16px 1650px #42c920, 1021px 1075px #42c920, 723px 424px #42c920, 1175px 41px #42c920,
    494px 1957px #42c920, 1296px 431px #42c920, 175px 1507px #42c920, 831px 121px #42c920,
    498px 1947px #42c920, 617px 880px #42c920, 240px 403px #42c920;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
