.input-container {
  position: relative;
  width: 100%; 
  border:#42c920  2px solid;
  border-radius: 25px;  
}

.input-text {
  position: relative; 
  background-color: transparent;
  color: #42c920; 
  font-size: 20px;
  padding: 10px;
  width: 100%;
  height: 200px;
  resize: none;
  text-align: center;
}

.input-text:focus {
  outline: none;
  color: #42c920;
}

.input-border {  
  position: absolute;
  width: 98%;
  margin-left:1%;
  height: 20px;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: #42c920;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.input-text:focus + .input-border {
  transform: scaleX(1);  
}

.input-text::placeholder {
  color: #42c920;
  padding: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}

/* .enviar-button {
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  perspective: 1000px;
}

.enviar-button:hover {
  transform: translateY(-2px);
}

.enviar-text {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
}

.enviar-border {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #09c6f9;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom;
}

.enviar-button:hover .enviar-border {
  transform: translateY(0);
} */
.button {
  margin-top: 10px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background: linear-gradient(to bottom, #42c920, #389d18);
  box-shadow: 0 5px 0 #2f8e14, 0 10px 0 #2a7b12, 0 15px 0 #256a10, 0 20px 0 #20590e;
  border-radius: 4px;
}

.button:hover {
  background: linear-gradient(to bottom, #389d18, #42c920);
  box-shadow: 0 5px 0 #2a7b12, 0 10px 0 #256a10, 0 15px 0 #20590e, 0 20px 0 #1c4d0c;
}
